.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(55, 57, 58);

  font-family: "Helixa";
}

.text {
  color: white;
  font-size: 2vw;
}

.btn{
  width: 15vw;
  height: 8vh;
  background-color: rgb(55, 57, 58);
  border: 1px solid white;
  color: white;
  font-size: 2vw;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bar{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.8vh;
  background-color: white;
  animation: progress 3s ease-in forwards;
}

@keyframes progress{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
