/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

ul {
  list-style: none;
  list-style-type: none;
}

/** GENERAL **/
html {
  font-size: 62.5%;
  /* 1 rem = 10px on normal settings */
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  height: -webkit-fill-available;
  overscroll-behavior: none;
}

img {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

body {
  overflow: overlay;

  margin: 0;
  font-family: "Nunito Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: -webkit-fill-available;
  overscroll-behavior: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, "Consolas", "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  display: none;
  border: none;
}

body::-webkit-scrollbar-thumb {
  display: none;
  border: none;
}

body::-webkit-scrollbar-track {
  display: none;
  border: none;
}

/** GLOBAL **/
.NoUserSelect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.forceUserSelect {
  -moz-user-select: -moz-all !important;
  -khtml-user-select: all !important;
  -webkit-user-select: all !important;
  -ms-user-select: all !important;
  user-select: all !important;
  pointer-events: all !important;
}

/* FONTS */

@font-face {
  font-family: "Helixa";
  src: url("/public/Helixa-Light.ttf");
  src: url("/public/Helixa-Light.otf");
  font-weight: normal;
  font-style: normal;
}
